nav.navbar {
  margin-bottom: 0;
}

nav.btn {
  float: right;
  padding-left: 15rem;
}

.brand-logo {
  width: 135px;
  height: 70px;
}
.nav-item {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-primary {
  font-family: Georgia, 'Times New Roman', Times, serif;
} 

.navbar {
  background-image: url("../images/white background.jpg");  
}