.card {
    background: whitesmoke;
    border-radius: 2px;
    max-height: 190px;
    position: relative;
    max-width: 180px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
    align-items: center;
  }
  
  img {
    max-height: 100px;
    max-width: 100px;
  }

  p {
    color: rgb(4, 170, 162);
    font-size: 1.5vw;
    padding-top: 4px;
  }

  .card-container{
    max-width: 200px;
    max-height: 220px;
    margin-left: 20%;
  }
