header {
    background-color: rgb(13, 209, 235);
    padding-top: 1rem;
    padding-bottom: 1rem;
}


footer {
    background-color: rgb(13, 209, 235);
    padding-bottom: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    min-height: 2rem;
}

.mainBG {
    background-image: url("../../components/images/front-page-1.jpg");
    height: 45rem;
    widows: 100%;
    
    background-size: cover;
}

.mainContent {
    margin-left: 15rem;
    background-color: white;
    display: grid;
    width: 960px;
    justify-content: center;
    padding: 0rem;
}
p {
    font-size: 30px;
    padding-top: 5rem;
    margin: 0 auto;
}

.welcome-message {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 2px 2px rgb(236, 232, 189);
}

