.footer {
    min-height: 80px;
    background: rgb(1, 119, 187);
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: rgb(3, 173, 240);
  }
  