
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 768px;
    }
    .card {
        width: 100%;
        max-width: 768px;
    }
    .job-stats {
        width: 100%;
        max-width: 768px;
    }
    .thumbnail {
        width: 100%;
        max-width: 768px;
    }
    .list-group {
        width: 100%;
        max-width: 768px;
        margin: none;
    }
    .navbar {
        width: 100%;
        max-width: 768px;
    }
    row {
        width:100%;
        max-width: 768px;
    }
    .welcome-message {
        font-size: xx-large;
    }
    .list-inline {
        padding-left: 40%;
    }
    .accountinfo-header {
        text-align: center;
    }
    .savedjobs-header{
        text-align: center;
    }
    .job-stats{
        text-align: center;
    }
}
@media screen and (max-width: 425px) {
    .container {
        width: 100%;
        max-width: 425px;
    }
    .thumbnail {
        width: 100%;
        max-width: 300px;
    }
    .card {
        width: 100%;
        max-width: 425px;
    }
    .list-group {
        width: 100%;
        max-width: 425px;
        margin: none;
    }
    .navbar {
        width: 100%;
        max-width: 425px;
    }
    row {
        max-width: 425px;
    }
    .welcome-message {
        font-size: xx-large;
    }
    .list-inline {
        padding-left: 25%;
    }
}
@media screen and (max-width: 375px) {
    .container {
        width: 100%;
        max-width: 375px;
    }
    .thumbnail {
        width: 100%;
        max-width: 250px;
    }
    .card {
        width: 100%;
        max-width: 375px;
    }
    .list-group {
        width: 100%;
        max-width: 375px;
        margin: none;
        padding: none; 
    }
    .navbar {
        width: 100%;
        max-width: 375px;
    }
    row {
        max-width: 375px;
    }
}